################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demowebapp/target
/reverser/target
